/Dataset/Repetita/*
/Dataset/Surfnet/*
/Dataset/Switch/*
!/Dataset/Repetita/Readme.md
!/Dataset/Surfnet/Readme.md
!/Dataset/Switch/Readme.md

/TM/Repetita/*
/TM/Surfnet/*
/TM/Switch/*
!/TM/Repetita/Readme.md
!/TM/Surfnet/Readme.md
!/TM/Switch/Readme.md

/Lib/log/*
!/Lib/log/Readme.md

/Results/*
!/Results/Readme.md

*.pyc
